.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.972168;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.008000px;}
._2{width:48.004000px;}
._0{width:161.552000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y59{bottom:5.309998px;}
.y51{bottom:5.309999px;}
.y5b{bottom:5.941000px;}
.y4f{bottom:8.941000px;}
.y55{bottom:13.941000px;}
.y58{bottom:20.678997px;}
.y57{bottom:34.047998px;}
.y4c{bottom:88.074013px;}
.y23{bottom:93.473976px;}
.y4b{bottom:101.443014px;}
.y22{bottom:106.842978px;}
.y4a{bottom:116.812008px;}
.y0{bottom:120.500000px;}
.y21{bottom:122.211996px;}
.y49{bottom:130.181007px;}
.y20{bottom:138.494006px;}
.y48{bottom:143.550009px;}
.y1f{bottom:154.229025px;}
.y47{bottom:158.919027px;}
.y1e{bottom:169.597982px;}
.y46{bottom:189.657003px;}
.y45{bottom:205.025991px;}
.y1d{bottom:215.705009px;}
.y44{bottom:220.394989px;}
.y1c{bottom:229.074005px;}
.y43{bottom:233.763992px;}
.y1b{bottom:242.443008px;}
.y42{bottom:247.132992px;}
.y1a{bottom:255.812008px;}
.y41{bottom:260.501991px;}
.y19{bottom:269.181007px;}
.y40{bottom:273.870993px;}
.y18{bottom:282.550009px;}
.y3f{bottom:289.240011px;}
.y17{bottom:297.918997px;}
.y3e{bottom:335.346993px;}
.y16{bottom:344.025993px;}
.y3d{bottom:348.715994px;}
.y15{bottom:357.394989px;}
.y3c{bottom:364.085012px;}
.y14{bottom:370.763992px;}
.y3b{bottom:379.453987px;}
.y13{bottom:384.132992px;}
.y3a{bottom:392.822989px;}
.y12{bottom:397.501991px;}
.y39{bottom:408.191994px;}
.y11{bottom:410.870993px;}
.y38{bottom:421.560995px;}
.y10{bottom:426.240011px;}
.y5e{bottom:433.644003px;}
.y37{bottom:436.930004px;}
.yf{bottom:441.608999px;}
.y5d{bottom:449.012991px;}
.y36{bottom:450.299004px;}
.y5c{bottom:459.572002px;}
.y4d{bottom:460.000000px;}
.y35{bottom:463.668005px;}
.ye{bottom:470.476997px;}
.y5a{bottom:477.441002px;}
.y34{bottom:479.036999px;}
.yd{bottom:483.845999px;}
.y33{bottom:492.405998px;}
.y56{bottom:495.941006px;}
.yc{bottom:499.215004px;}
.y32{bottom:505.775000px;}
.yb{bottom:512.584005px;}
.y24{bottom:519.500000px;}
.y31{bottom:521.144003px;}
.ya{bottom:527.952993px;}
.y54{bottom:542.548004px;}
.y9{bottom:543.321999px;}
.y30{bottom:551.881996px;}
.y8{bottom:556.691000px;}
.y2f{bottom:565.250998px;}
.y2e{bottom:580.619995px;}
.y7{bottom:586.213003px;}
.y53{bottom:589.727003px;}
.y2d{bottom:593.988996px;}
.y52{bottom:602.285999px;}
.y2c{bottom:609.358002px;}
.y6{bottom:615.080997px;}
.y50{bottom:620.154999px;}
.y2b{bottom:622.727003px;}
.y5{bottom:628.449997px;}
.y4e{bottom:638.023998px;}
.y2a{bottom:638.096001px;}
.y4{bottom:641.818998px;}
.y29{bottom:651.465000px;}
.y3{bottom:657.188002px;}
.y28{bottom:664.834002px;}
.y27{bottom:680.202999px;}
.y2{bottom:687.926001px;}
.y26{bottom:695.571999px;}
.y1{bottom:703.924000px;}
.y25{bottom:708.941000px;}
.h7{height:19.368999px;}
.ha{height:20.000000px;}
.h6{height:23.000000px;}
.h8{height:28.000000px;}
.h3{height:33.644531px;}
.h2{height:42.820312px;}
.h9{height:48.106998px;}
.h4{height:160.000000px;}
.h5{height:204.000000px;}
.h1{height:582.500000px;}
.h0{height:792.000000px;}
.w5{width:79.500000px;}
.w4{width:114.900002px;}
.w7{width:143.250000px;}
.w6{width:156.600006px;}
.w2{width:200.000000px;}
.w1{width:275.000000px;}
.w8{width:278.250000px;}
.w3{width:424.500000px;}
.w0{width:612.000000px;}
.x6{left:6.150000px;}
.x1{left:72.000000px;}
.x5{left:76.900000px;}
.x2{left:90.000000px;}
.x3{left:108.000000px;}
.x4{left:124.000000px;}
.x0{left:128.000000px;}
.x7{left:190.300002px;}
.x9{left:218.650000px;}
.x8{left:268.299994px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.344000pt;}
._2{width:64.005333pt;}
._0{width:215.402667pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y59{bottom:7.079997pt;}
.y51{bottom:7.079999pt;}
.y5b{bottom:7.921333pt;}
.y4f{bottom:11.921333pt;}
.y55{bottom:18.588000pt;}
.y58{bottom:27.571996pt;}
.y57{bottom:45.397331pt;}
.y4c{bottom:117.432017pt;}
.y23{bottom:124.631968pt;}
.y4b{bottom:135.257352pt;}
.y22{bottom:142.457303pt;}
.y4a{bottom:155.749344pt;}
.y0{bottom:160.666667pt;}
.y21{bottom:162.949328pt;}
.y49{bottom:173.574677pt;}
.y20{bottom:184.658675pt;}
.y48{bottom:191.400012pt;}
.y1f{bottom:205.638700pt;}
.y47{bottom:211.892036pt;}
.y1e{bottom:226.130643pt;}
.y46{bottom:252.876005pt;}
.y45{bottom:273.367989pt;}
.y1d{bottom:287.606679pt;}
.y44{bottom:293.859985pt;}
.y1c{bottom:305.432007pt;}
.y43{bottom:311.685323pt;}
.y1b{bottom:323.257345pt;}
.y42{bottom:329.510656pt;}
.y1a{bottom:341.082677pt;}
.y41{bottom:347.335988pt;}
.y19{bottom:358.908010pt;}
.y40{bottom:365.161324pt;}
.y18{bottom:376.733345pt;}
.y3f{bottom:385.653348pt;}
.y17{bottom:397.225329pt;}
.y3e{bottom:447.129323pt;}
.y16{bottom:458.701324pt;}
.y3d{bottom:464.954659pt;}
.y15{bottom:476.526652pt;}
.y3c{bottom:485.446683pt;}
.y14{bottom:494.351990pt;}
.y3b{bottom:505.938650pt;}
.y13{bottom:512.177322pt;}
.y3a{bottom:523.763985pt;}
.y12{bottom:530.002655pt;}
.y39{bottom:544.255992pt;}
.y11{bottom:547.827990pt;}
.y38{bottom:562.081327pt;}
.y10{bottom:568.320015pt;}
.y5e{bottom:578.192004pt;}
.y37{bottom:582.573339pt;}
.yf{bottom:588.811999pt;}
.y5d{bottom:598.683988pt;}
.y36{bottom:600.398671pt;}
.y5c{bottom:612.762670pt;}
.y4d{bottom:613.333333pt;}
.y35{bottom:618.224007pt;}
.ye{bottom:627.302663pt;}
.y5a{bottom:636.588003pt;}
.y34{bottom:638.715998pt;}
.yd{bottom:645.127998pt;}
.y33{bottom:656.541331pt;}
.y56{bottom:661.254674pt;}
.yc{bottom:665.620005pt;}
.y32{bottom:674.366666pt;}
.yb{bottom:683.445340pt;}
.y24{bottom:692.666667pt;}
.y31{bottom:694.858671pt;}
.ya{bottom:703.937325pt;}
.y54{bottom:723.397339pt;}
.y9{bottom:724.429331pt;}
.y30{bottom:735.842662pt;}
.y8{bottom:742.254667pt;}
.y2f{bottom:753.667997pt;}
.y2e{bottom:774.159993pt;}
.y7{bottom:781.617338pt;}
.y53{bottom:786.302671pt;}
.y2d{bottom:791.985329pt;}
.y52{bottom:803.047999pt;}
.y2c{bottom:812.477336pt;}
.y6{bottom:820.107997pt;}
.y50{bottom:826.873332pt;}
.y2b{bottom:830.302671pt;}
.y5{bottom:837.933329pt;}
.y4e{bottom:850.698664pt;}
.y2a{bottom:850.794668pt;}
.y4{bottom:855.758664pt;}
.y29{bottom:868.620000pt;}
.y3{bottom:876.250669pt;}
.y28{bottom:886.445335pt;}
.y27{bottom:906.937332pt;}
.y2{bottom:917.234667pt;}
.y26{bottom:927.429331pt;}
.y1{bottom:938.565333pt;}
.y25{bottom:945.254667pt;}
.h7{height:25.825333pt;}
.ha{height:26.666667pt;}
.h6{height:30.666667pt;}
.h8{height:37.333333pt;}
.h3{height:44.859375pt;}
.h2{height:57.093750pt;}
.h9{height:64.142665pt;}
.h4{height:213.333333pt;}
.h5{height:272.000000pt;}
.h1{height:776.666667pt;}
.h0{height:1056.000000pt;}
.w5{width:106.000000pt;}
.w4{width:153.200002pt;}
.w7{width:191.000000pt;}
.w6{width:208.800008pt;}
.w2{width:266.666667pt;}
.w1{width:366.666667pt;}
.w8{width:371.000000pt;}
.w3{width:566.000000pt;}
.w0{width:816.000000pt;}
.x6{left:8.200000pt;}
.x1{left:96.000000pt;}
.x5{left:102.533333pt;}
.x2{left:120.000000pt;}
.x3{left:144.000000pt;}
.x4{left:165.333333pt;}
.x0{left:170.666667pt;}
.x7{left:253.733336pt;}
.x9{left:291.533333pt;}
.x8{left:357.733325pt;}
}
